#create-run.span8
  %h2 Create a Group Run
  = form_for @run do |f|
    .control-group
      = f.text_field :name, placeholder:"Group Name"
    .control-group
      = text_field_tag "run_date", nil, id: "run_run_date", placeholder:"Date"
    .control-group
      = text_field_tag "start_time", nil, id: "run_run_start_time", placeholder:"Time"

    .control-group
      %label.radio
        %input#selectExisitingRoute{:checked => "", :name => "routeSelector", :type => "radio", :value => "selectExisitngRoute"}/
        Select an exisiting route

      %label.radio
        %input#createNewRoute{:name => "routeSelector", :type => "radio", :value => "createNewRoute"}/
        Create a new Route

      #route-selection
        = f.select(:route_id, options_from_collection_for_select(@routes, :id, :name) )
        = render partial: "new_run_map"

      %label
        Details:
    .control-group
      =f.text_area :details, {:placeholder => "details"}

    .control-group
      = text_area_tag "friends", nil, placeholder: "Invite friends through twitter. Separate each with commas"
    .control-group
      = f.submit class:"btn"

%script{:src => "http://code.jquery.com/ui/1.10.3/jquery-ui.js", type:"text/javascript"}
%script{src: "/assets/jquery.timepicker.js", type:"text/javascript"}
%script{src: "/assets/route_creator.js", type:"text/javascript"}
%script{src: "/assets/validations/new_run.js", type:"text/javascript"}

= javascript_tag do
  createRoute();

  $(function() {
  $('#run_run_date').datepicker();
  });

  $('#run_run_start_time').timepicker({ 'timeFormat': 'h:i A' });

  $('form').submit(function(event) {


  var radio_selection = $('input:radio[name=routeSelector]:checked').val();
  if(radio_selection == "createNewRoute") {

  var points = JSON.stringify(getRoutePoints(gpolys));
  $(event.target).append("
  %input{:name => "route[path]", :type => "hidden", :value => "\"+points+\""}>/
  ");
  } else {

  var route_id = $('#run_route_id').find(":selected").val();

  var input = "
  %input{:name => "run[route_id]", :type => "hidden", :value => "\"+route_id+\""}>/
  ";

  $(event.target).append(input);
  }

  });
