#create-run.span8
  %h2 Create a Group Run
  = form_for @run, id: "new_run", class: "cmxform" do |f|
    .row
      .span8
      = f.text_field :name, placeholder:"Group Name", class: "required"
    .row
      .span4
        = text_field_tag "run_date", nil, id: "run_run_date", placeholder:"Date", class: "required pull-left run_date"
      .span4
        = text_field_tag "start_time", nil, id: "run_run_start_time", placeholder:"Time", class: "required pull-left run_date"

    .row
      .pull-left
        %input#selectExisitingRoute{:checked => "", :name => "routeSelector", :type => "radio", :value => "selectExisitngRoute"}
        %label.route-select{for: "selectExistingRoute"} Select an exisiting route

      .pull-left
        %input#createNewRoute{:name => "routeSelector", :type => "radio", :value => "createNewRoute"}
        %label.route-select{for: "createNewRoute"} Create a new Route

    #route-selection.row
      = f.select(:route_id, options_from_collection_for_select(@routes, :id, :name) )
      = render partial: "new_run_map"

    .row
      %label{for: "run_details"} Details:
    .row
      =f.text_area :details, {placeholder: "details", class: "span8"}

    .row
      = text_area_tag "friends", nil, class: "span8", placeholder: "Invite friends through twitter. Separate each with commas"
    .row
      = f.submit class:"btn"

%script{:src => "http://code.jquery.com/ui/1.10.3/jquery-ui.js", type:"text/javascript"}
%script{src: "/assets/jquery.timepicker.js", type:"text/javascript"}
%script{src: "/assets/route_creator.js", type:"text/javascript"}
%script{src: "/assets/route-switcher.js", type:"text/javascript"}
%script{src: "/assets/jquery.validate.js", type:"text/javascript"}

= javascript_tag do


  createRoute();

  $('#run_run_date').datepicker();

  $('#run_run_start_time').timepicker({ 'timeFormat': 'h:i A' });
  $('#new_run').validate();

  $('form').submit(function(event) {

  var radio_selection = $('input:radio[name=routeSelector]:checked').val();
  if(radio_selection == "createNewRoute") {

  $('#new-route-tag').addClass('required');

  var points = JSON.stringify(getRoutePoints(gpolys));
  $(event.target).append("
  %input{:name => "route[path]", :type => "hidden", :value => "\"+points+\""}>/
  ");
  } else {

  $('#new-route-tag').removeClass('required');
  var route_id = $('#run_route_id').find(":selected").val();

  var input = "
  %input{:name => "run[route_id]", :type => "hidden", :value => "\"+route_id+\""}>/
  ";

  $(event.target).append(input);
  }

  });
