<div id="create-run" class="span9">
  <h2>Create a Group Run</h2>
  <%= form_for @run do |f| %>
    <%= f.text_field :name, placeholder:"Group Name" %></br>
    <%= f.text_field :run_date, placeholder:"Date" %></br>
    <%= f.text_field :run_start_time, placeholder:"Time" %></br>

    <label class="radio">
      <input type="radio" name="routeSelector" id="selectExisitingRoute" value="selectExisitngRoute" checked>
      Select an exisiting route
    </label>
    <label class="radio">
      <input type="radio" name="routeSelector" id="createNewRoute" value="createNewRoute">
      Create a new Route
    </label>

    <div id="route-selection">
      <%= f.select(:route_id, options_from_collection_for_select(@routes, :id, :name) )%>
      <!--<%= render partial: "new_run_map" %> -->
    </div>
    <%= text_field_tag "friends", nil, placeholder: "Enter friend twitters" %>
    <label>
      Details:</br>
      <textarea placeholder="details"></textarea>
    </label>

    <%= f.submit %>

  <% end %>
</div> <!-- end #create-run -->
