<h1>Welcome to the Homepage</h1>

<% if current_user %>
  Signed in as <%= current_user.name %>
  <%= link_to "Sign out", signout_path %>
<% else %>
  <%= link_to "Sign in with Twitter", "/auth/twitter" %>
<% end %>

<h2>Create Run</h2>
<%= form_tag do %>
  <%= label_tag "Run name" %>
  <%= text_field_tag :run_name %>
  <%= label_tag "Invite A Friend" %>
  <%= text_field_tag :friends %>
  <%= submit_tag("Create Run") %>
<% end %>

<h3>All Runs</h3>
