<h1>Welcome to the Homepage</h1>
<% if current_user %>
  Signed in as <%= current_user.name %>
  <%= link_to "Sign out", signout_path %>
<% else %>
  <%= link_to "Sign in with Twitter", "/auth/twitter" %>
<% end %>

<%= link_to "Post to Twitter", post_to_twitter_path %>

<br><br><br>
<h3>Tweets sent by current user</h3>
<% if @timeline %>
  <% @timeline.each do |twit| %>
    <%= twit.text %><br>
    <%= twit.in_reply_to_status_id %><br>
    <br>
  <% end %>
<% end %>

<H3>Tweets by friends of current user</H3>
<% if @friends_tweets %>
  <% @friends_tweets.each do |twit| %>
    <%= twit %><br>
    <br>
  <% end %>
<% end %>


<h3>Tweets send at current user</h3>
<% if @mentions %>
  <% @mentions.each do |twit| %>
    <%= twit.text %><br>
    <br>
  <% end %>
<% end %>
